/*---  Container  ---*/

.container, .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > {
    .col, [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 85%;;
  }
}

@media (min-width: 1200px) {
  .container-about {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
